<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>PDF</title>
    <style>
        .noSelect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body oncopy="return false" oncut="return false" onpaste="return false" class="noSelect">
<div style="text-align: center;"><h3>Список сотрудников</h3></div>
<table style="width:100%" class="noSelect">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Специальность</th>
    </tr>
    <tbody>
    {{#each data}}
    <tr>
        <th><b>{{this.id}}</b></th>
        <th><b>{{this.firstname}}</b></th>
        <th><b>{{this.lastname}}</b></th>
        <th><b>{{this.speciality}}</b></th>
    <tr>
        {{/each}}
    </tbody>
</table>
</body>
</html>
